body{
    background-color: rgb(27, 32, 32);
}
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin-top: 50px;
    color: #fff;
}
section{
    width: 500px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.47);
    margin: auto;
}
div{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    padding: 12.5px;
}
#imagem{
    width: 300px;
    height: 300px;
}
footer{
    text-align: center;
    font-style: oblique;
    font-weight: 900;
    font-size: 13pt;
    color: #888888;
}